body {
	background-color: #fff;
	font-family: "Calibri", "Roboto", sans-serif;
	font-size: 160%;
}
#topmenu {
	padding-bottom: 10px;
	background-color: #0485d6;
	border-bottom: solid 1px;
	width: 100%;
	height: 20%;
	overflow: hidden;
}
#topmenu h1 {
	text-align: center;
	color: #fff;
	margin-left: 30px;
}
#topmenu img {
	float: right;
	display: inline-block;
	height: 32px;
	width: 32px;
	margin-right: 50px;
	cursor: pointer;
}
#filter-icon {
	background-color: #0485d6;
}
#filter-box {
	margin-top: 20px;
}
#filter-criteria-box {
	margin-left: 10px;
	background-color: #0485d6;
}
#results_table{
	overflow:auto;
	margin-top: 20px;
	margin-bottom:20px;
	height: auto;
}
#textarea {
	overflow: hidden;
	margin-top: 20px;
	padding-right: .5em;
}
#textarea #message {
	height: 50px;
	resize: none;
}
#submit-button {
	float: right;
	background-color: #0485d6;
	color: #fff;
	border-style: none;
	font-size:20px;
	height: 50px;
	width: 100px;
}
#table {
	padding: 0px;
}
#table_msg {
	width:100%;
	border: 2px solid black;
}
#table_msg th {
	background-color: #0485d6;
	text-align:center;
	padding: 10px;
	border: 1px solid black;
	border-bottom: 2px solid black;
}
#table_msg td {
	text-align: center;
	padding: 5px;
	border: 1px solid black;
}
#table_msg tr:nth-child(odd) {
	background-color: #cfe0fc;
}
#table_msg tr:nth-child(even) {
	background-color: #99baef;
}
