body {
	background-color: #fff;
	font-family: "Calibri", "Roboto", sans-serif;
	font-size: 160%;
}
#topmenu {
	padding-bottom: 10px;
	background-color: #618da8;
	border-bottom: solid 1px;
	width: 100%;
	height: 20%;
	overflow: hidden;
}
#topmenu h1 {
	text-align: center;
	color: #fff;
	margin-left: 30px;
}
#topmenu img {
	float: right;
	display: inline-block;
	height: 32px;
	width: 32px;
	margin-right: 50px;
	cursor: pointer;
}
.modal {	
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#infoModal .modal-content {
	position: relative;
    background-color: #fefefe;
    margin: auto;
    top: 50%; /* Location of the box */
    left: 25%;
    transform: translate(-50%, -50%);
    width: 50%;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#infoModal .modal-content p {
	font-size: 20px;
	color: black;
	text-align: center;
	padding: 2em;
}
#infoModal .close {
    color: #ff0000;
    float: right;
    font-size: 32px;
    font-weight: bold;
    margin-right: 10px;
}
#infoModal .close:hover, .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
#chat {
	background-color: #f6f8fa;
	overflow:auto;
	height: 450px;
	margin-top: 20px;
}
#results_table{
	background-color: #fff;
	overflow:auto;
	margin-top: 20px;
	padding:19px;
	margin-bottom:20px;
	height: auto;
}
#textarea {
	overflow: hidden;
	margin-top: 20px;
	padding-right: .5em;
}
#textarea #message {
	height: 50px;
	resize: none;
}
#submit-button {
	float: right;
	background-color: #618da8;/*76c982  7dbbc1*/
	color: #fff; /*55965e*/
	border-style: none;
	font-size:20px;
	height: 50px;
	width: 100px;
}
#usermsg {
	background-color: #bbd8e9;
	text-align: right;
	border-style: none;
	overflow: auto;
	word-wrap: break-word;
	border-radius: 20px 5px;
}
#userhead {
	text-align: center;
	background-color: #bbd8e9;
	float: right;
	width: 60px;
  	height: 60px;
  	border-radius: 50%;
  	display: inline-block;
  	padding-left: 0px;
  	padding-right: 0px;
  	margin-right: 15px;
  	margin-left: 15px;
}
#botmsg {
	background-color: #87C2E5; /*87C2E5  ffd9ba*/
	border-style: none;
	overflow: auto;
	word-wrap: break-word;
	border-radius: 5px 20px;
	float: left;
}
#bothead {
	text-align: center;
	background-color: #87C2E5;
	float: left;
	width: 60px;
  	height: 60px;
  	border-radius: 50%;
  	display: inline-block;
  	padding-left: 0px;
  	padding-right: 0px;
  	margin-right: 15px;
  	margin-left: 15px;
}
#table_msg table {
	width:100%; 
	border: 2px solid black;
}
#table_msg th {
	background-color: #0485d6;
	text-align:center; 
	padding: 4px;
	border: 1px solid black;
	border-bottom: 2px solid black;
}
#table_msg td {
	text-align: center; 
	padding: 2px;
	border: 1px solid black;
}
#table_msg tr:nth-child(odd) {
	background-color: #cfe0fc;
}
#table_msg tr:nth-child(even) {
	background-color: #99baef;
}